/*
* Backgrounds
*/

.context-dark {
	@extend %context-dark;
}

%context-dark {
	// Logo
	.brand {
		.brand-logo-dark {
			display: none;
		}

		.brand-logo-light {
			display: block;
		}
	}
	
	p {
		color: $white;
	}

	.jumbotron h1,
	.jumbotron h1 small {
		color: $white;
	}

	.button-default {
		@include btn-variant($white, transparent, $white, $white-invariable, $primary, $primary);
	}
}

%context-light {
	// Logo
	.brand {
		.brand-logo-dark {
			display: block;
		}

		.brand-logo-light {
			display: none;
		}
	}
}

/*
* Light Backgrounds
*/
.bg-default {
	background-color: $white;
}

.bg-gray-100 {
	@include bg-behaviour($gray-100);
}

/*
* Dark Backgrounds
*/
.bg-gray-700 {
	@extend %context-dark;
	@include bg-behaviour($gray-700);
}

/*
* Accent Backgrounds
*/
.bg-primary {
	background: $primary;
	@extend %context-dark;
	& + & {
		padding-top: 0;
	}
}

/*
* Background Image
*/
.bg-image {

}

[class^='bg-'] {
	background-size: cover;
	background-position: center center;
}

// Desktop only
//
html:not(.tablet):not(.mobile) {
	.bg-fixed {
		@include media-breakpoint-up(lg) {
			background-attachment: fixed;
		}
	}
}

.bg-image .breadcrumb > li:before {
	color: #252525;
}
