//Start section
section.bg-dark-var1.text-center
	.container.counter-panel
		.row
			.col-6.col-md-6.col-lg-3
				div.counter 197
				p.text-opacity.font-secondary.text-uppercase CUPS OF COFFEE
			.col-6.col-md-6.col-lg-3
				div.counter 23
				p.text-opacity.font-secondary.text-uppercase coders
			.col-6.col-md-6.col-lg-3
				div.counter 98
				p.text-opacity.font-secondary.text-uppercase designers
			.col-6.col-md-6.col-lg-3
				div.counter 7230
				p.text-opacity.font-secondary.text-uppercase Lines of Code
//End section

= '\n'