//-var footer_class = "page-footer text-center"


footer(class=footer_class)
	section.footer-content
		.container
			.navbar-brand
				a(href="index.html") Modicate
			p.big We believe in Simple, Creative & Flexible Design Standards.
			ul.list-inline
				li.list-inline-item: a.fa-facebook(href="#")
				li.list-inline-item: a.fa-pinterest-p(href="#")
				li.list-inline-item: a.fa-twitter(href="#")
				li.list-inline-item: a.fa-google-plus(href="#")
				li.list-inline-item: a.fa-instagram(href="#")

	section.copyright
		.container
			p &#169; #[span.copyright-year] All Rights Reserved #[a(href='terms.html') Terms of Use and Privacy Policy]
				| . Design&nbsp;by&nbsp;#[a(href="https://zemez.io/") Zemez]




